.footer {
  grid-area: 6 / full-start/7/full-end;
  background-color: $color-secondary;
  color: white;
  padding: 8rem;

  display: grid;
  grid-template-rows: 15rem max-content;

  &_ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-content: center;
    justify-content: center;
    grid-gap: 2rem;
  }
  &_li {
    list-style: none;
    transition: all 0.3s;
    padding: 2rem 1.5rem;
    text-align: center;
    transition: all 0.2s;
    &:hover {
      background-color: rgba(white, 0.3);
      transform: translateY(-1rem);
    }
  }
  &_link:link,
  &_link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.6rem;
  }

  &_copy {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 6rem;
  }
}
