%heading {
  font-weight: 400;
  font-family: $font-display;
}

.heading-h1 {
  @extend %heading;
  font-style: italic;
}
.heading-h2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
}
.heading-h3 {
  @extend %heading;
  font-size: 1.6rem;
}
.heading-h4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
